*{
    margin: 0;
    padding: 0;
}

#bg-index {
    background: url(img/bg.jpg) fixed bottom;
    background-size: cover;
}

.bg2 {
    background: url(img/bg2.jpg) fixed top;
    background-size: cover;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #0f0f0f;
    color: blueviolet;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #02041c;
    color: #01594f;
}

.menu ul ul li{
    float: none;
    border-bottom: solid 3px #02041c; 
}

.menu ul ul li a{
    background-color: #080838;
}

label[for="bt_menu"]{
    padding: 4px;
    background-color: #312c2c;
    color: #0a0a0d;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}

/* Tabela de generos */

.table-genero {
    margin: 2% 2%;
    width: 96%;
}

.table-genero tr {
    background: linear-gradient(to left, #8e2de2, #4a00e0);
}

.table-genero tr td {
    width: 50%;
    text-align: center;
    padding: .8%;
    border-radius: 0 10px 10px 0;
    
}

.table-genero tr td:first-child {
    border-radius: 10px 0 0 10px;
}

.table-genero tr td img {
    height: 100%;
}

.table-genero tr td a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: white;
    text-decoration: none;
}

/* Tabela de artista */

.table-artista {
    margin: 2% 2%;
    width: 96%;
}

.table-artista tr {
    background: linear-gradient(to left, #8e2de2, #4a00e0);
}

.table-artista tr td {
    width: 80%;
    text-align: center;
    padding: .8%;
    border-radius: 0 10px 10px 0;
    
}

.table-artista tr td:first-child {
    width: 20%;
    border-radius: 10px 0 0 10px;
}

.table-artista tr td img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.table-artista tr td a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: white;
    text-decoration: none;
}

/* Tabela contatos */

.table-contatos {
    margin: 2% 2%;
    width: 96%;
}

.table-contatos tr {
    background: linear-gradient(-90deg, #FC466B 0%, #3F5EFB 100%);
}

.table-contatos tr td {
    width: 25%;
    text-align: center;
    padding: .8%;    
}

.table-contatos tr td:first-child {
    border-radius: 10px 0 0 10px;
}

.table-contatos tr td:last-child {
    border-radius: 0 10px 10px 0;
}

.table-contatos tr td img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.table-contatos tr td a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: white;
    text-decoration: none;
}

/* Formulário de cadastro */

#form-cadastro {
    text-align: center;
    width: 70%;
    margin: 2% auto;
    padding: 1%;
    background: linear-gradient(-90deg, #FC466B 0%, #3F5EFB 100%);
    border-radius: 20px;
}

#form-cadastro input {
    width: 60%;
    margin: 0 auto 1% auto;
    padding: 1%;
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid #0dca55;
}

#form-cadastro input::placeholder {
    color: white;
}

#form-cadastro input:focus {
    border: none;
}

#form-cadastro button {
    width: 50%;
    margin: 2% 0;
    padding: 1%;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

@media(max-width:800px){
    
    label[for="bt_menu"]{
        display: block;
    }

    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 2px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }

    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

}